.env
node_modules

server/node_modules
server/.env

tpm-signing-agent/keys
tpm-signing-agent/-
tpm-signing-agent/.server-pid
tpm-signing-agent/.tpm-config
tpm-signing-agent/tmp-server.log
tpm-signing-agent/tpm-signing-server
tpm-signing-agent/key-generator
tpm-signing-agent/*.exe

release
yarn.lock
dist
.yarn