# RPC for the network (Sepolia / or whichever testnet)
RPC_URL=

# Chain id numeric (11155111 for Sepolia)
CHAIN_ID=11155111

# Safe address (deployed)
SAFE_ADDRESS=

# Executor private key 
EXECUTOR_PK=.     The private key of metamask
OWNER1_PK=        The private key of metamask

# Port to run the server
PORT=3000
