# RPC for the network (Sepolia / or whichever testnet)
RPC_URL=

# Chain id numeric (11155111 for Sepolia)
CHAIN_ID=11155111

# Safe address (deployed)
SAFE_ADDRESS=

# Executor private key (if you want the server to execute on-chain)
EXECUTOR_PK=

# Port to run the server
PORT=3000
